<!DOCTYPE html>
<html>
<head>
  <title>Tinyslack</title>
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <style>
    *, *:before, *:after {
      box-sizing: inherit;
    }

    html {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      overflow: hidden;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
    }
  </style>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet">
</head>
<body>
  <div id="react-root"></div>
  <script type="text/javascript" src="/bundles/index.bundle.js"></script>
</body>
</html>
