<!DOCTYPE html>
<html>
<head>
  <style>
    *, *:before, *:after {
      box-sizing: inherit;
    }

    html {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <div id="react-root"></div>
  <script type="text/javascript" src="/bundles/index.bundle.js"></script>
</body>
</html>
